[Desktop Entry]
Type=Application
Icon=LunarCalendar
Exec=/opt/LunarCalendar/bin/LunarCalendar.sh
Terminal=false
StartupNotify=true
Categories=Application;Development;Tools
MimeType=application/calendar+json;application/calendar+xml;application/octet-stream;text/calendar;text/x-vcalendar;application/vnd.sus-calendar;text/plain;
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb

Name=Lunar calendar
GenericName=Lunar calendar
Comment=Lunar calendar

Name[zh_CN]=日历
GenericName[zh_CN]=日历
Comment[zh_CN]=日历(包含农历)

Name[zh_TW]=日歷
GenericName[zh_TW]=日歷
Comment[zh_TW]=日歷(包含農歷)
